{% for module in tags -%}
use super::{{ module }}
{%- endfor %}

{%- if rust is not none %}
  {%- if rust.derive is not none %}
#[derive({{ rust.derive | join(", ") }})]
  {%- endif %}
  {%- for attr in rust.attrs %}
#[{{ attr }}]
  {%- endfor %}
{%- endif %}
pub enum {{ class_name }} {
{%- for (name, _) in members | sort %}
  {{ name }},
{%- endfor %}
}
