import { z } from 'zod';

{%- for tag in tags | sort %}
import { {{ tag.class }} } from "./{{ tag.module }}.zod.ts";
{%- endfor %}

export const {{ class_name }} = z.object({
  {%- for (name, fld) in members | sort %}
  {{ name }}: {{ fld | type }},
  {%- endfor %}
});
