{% for tag in tags | sort(attribute="module") -%}
use super::{{ tag.module }}::{{ tag.class }};
{% endfor -%}

{%- if rust is not none %}
  {%- if rust.derive is not none %}
#[derive({{ rust.derive | join(", ") }})]
  {%- endif %}
  {%- for attr in rust.attrs %}
#[{{ attr }}]
  {%- endfor %}
{%- endif %}
pub struct {{ class_name }} {
{%- for (name, fld) in members | sort %}
  {%- if fld.rust is not none %}
    {%- for attr in fld.rust.attrs %}
  #[{{ attr }}]
    {%- endfor %}
  {%- endif %}
  pub {{ name }}: {{ fld | type }},
{%- endfor %}
}
