{% for module in modules -%}
use super::{{ module }}
{% endfor -%}

{% if rust is not none -%}
  {% if rust.derive is not none -%}
#[derive({{ rust.derive | join(",") }})]
  {% for attr in rust.attrs -%}
#[{{ attr }}]
  {% endfor -%}
{% endif -%}
pub struct {{ class_name }} {
{% for (name, fld) in members -%}
  {% if fld.rust is not none -%}
    {% for attr in fld.rust.attrs -%}
  #[{{ attr }}]
    {% endfor -%}
  {% endif -%}
  pub {{ name }}: {{ fld.f_type | rust_type }},
{% endfor -%}
}
