import { z } from 'zod';
{%- if tags | length > 0 %}{{ '\n' }}{% endif -%}
{%- for tag in tags | sort %}
import { {{ tag.class }} } from './{{ tag.module }}.zod.ts';
{%- endfor %}

export const {{ class_name }} = z.object({
  {%- for (name, fld) in members | sort %}
  {%- if typescript %}
  {{ name | rename(typescript, fld) }}: {{ fld | type }},
  {%- else %}
  {{ name }}: {{ fld | type }},
  {%- endif %}
  {%- endfor %}
});

export type {{ class_name }} = z.infer<typeof {{ class_name }}>;
